footer {
    background-color: #edf7fa;
}
.footer {
    padding-top: 80px;
    padding-bottom: 50px;

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__socials {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
}
.fotter {
    &__social {
    }
}
.social {
    &__link svg {
        fill: black;
        transition: all 0.5s;
        &:hover {
            fill: $accentColor;
            transition: all 0.5s;
        }
    }
}
