nav {
	overflow: hidden;
}

.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
}

.menu {
	display: flex;
	margin-left: auto;
	// .menu__item
	&__item {
		margin-left: 25px;
	}

	// .menu__item-link
	&__item-link {
		color: $mainColor;
		transition: all 0.5s;

		&:hover {
			color: $accentColor;
		}
	}
}
